.container {
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 2.5em 3em 2.5em;
    margin: 0 45px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .account-settings .user-profile {
      margin: 0 0 1rem 0;
      padding-bottom: 2rem;
      text-align: center;
  }
  .account-settings .user-profile .user-avatar {
      margin: 0 0 1rem 0;
  }
  .account-settings .user-profile .user-avatar img {
      width: 90px;
      height: 90px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
  }
  .account-settings .user-profile h5.user-name {
      margin: 0 0 0.5rem 0;
  }
  .account-settings .user-profile h6.user-job {
      margin: 0;
      font-size: 0.8rem;
      font-weight: 400;
      color: #9fa8b9;
  }
  .account-settings .about {
      margin: 2rem 0 0 0;
      text-align: center;
  }
  .account-settings .about h5 {
      margin: 0 0 15px 0;
      color: #007ae1;
  }
  .account-settings .about p {
      font-size: 0.825rem;
  }
  .form-control {
      border: 1px solid #cfd1d8;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      font-size: .825rem;
      background: #ffffff;
      color: #2e323c;
  }
  
  .card {
      background: #ffffff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 0;
      margin-bottom: 1rem;
  }
