{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <!-- ========== BOX ICONS & BOOTSTRAP ========== -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet" type="text/css" href='{% static "css/styles_menubar.css" %}' title="NavigationBar" media=screen>
    </head>

    <body>
        <!-- ========== HEADER ========== -->
          <div class="head" id="header">
              <header class="header">
                  <div class="header__container">
                    <div>
                        <a href="{% url 'dashboardview' %}">
                            <img class="header__logo" src="{% static 'images/Metrocom.png' %}"> 
                        </a>
                    </div>
                    
                        <div class="header__text">Welcome back, {{request.user}}</div>
                    
                    <div>
                        <a href="{% url 'profile' %}">
                            <img src="{% static 'images/yogatama.jpg' %}" alt="user.html" class="header__img">
                        </a>
                    </div>
                </div>       
              </header>
          </div>
      
          <!-- ========== NAV ========== -->
          <div class="nav" id="navbar">
              <nav class="nav__container">
                  <div>
                      <a href="{% url 'index' %}" class="nav__link nav__logo"></a>
      
                      <div class="nav__list">
                          <div class="nav__items">
                              <h3 class="nav__subtitle">Menu</h3>
                              
                              <a href="{% url 'dashboardview' %}" class="nav__link">
                                  <i class='bx bx-category nav__icon'></i>
                                  <span class="nav__name">Home</span>
                              </a>
      
                              <div class="nav__dropdown">
                                  <a href="{% url 'index' %}" class="nav__link active">
                                      <i class='bx bx-bar-chart nav__icon'></i>
                                      <span class="nav__name">Report</span>
                                      <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                  </a>
      
                                  <div class="nav__dropdown-collapse">
                                      <div class="nav__dropdown-content">
                                          <a href="{% url 'index' %}" class="nav__dropdown-item">Project Report</a>
                                      </div>
                                      <div class="nav__dropdown-content">
                                        <a href="{% url 'websitemarketing' %}" class="nav__dropdown-item">Employee Report</a>
                                    </div>
                                </div>
                              </div>
                                  <a href="{% url 'mail' %}" class="nav__link">
                                      <i class='bx bx-mail-send nav__icon '></i>
                                      <span class="nav__name">Mail</span>
                                  </a>
      
                                  <a href="{% url 'profile' %}" class="nav__link">
                                      <i class='bx bx-user nav__icon' ></i>
                                      <span class="nav__name">Profile</span>
                                  </a>
      
                                  <a href="{% url 'member' %}" class="nav__link">
                                      <i class='bx bxs-user-account nav__icon'></i>
                                      <span class="nav__name">Member</span>
                                  </a>
      
                                  <a href="{% url 'logout' %}" class="nav__link nav__logout">
                                      <i class='bx bx-log-out nav__icon' ></i>
                                      <span class="nav__name">Log Out</span>
                                  </a>
                          </div>    
                      </div>
                  </div>
              </nav>
          </div>      

    {% block content %}  

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    </body>
</html>