{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>User Request</title>
</head>
<body>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScmHlB7tBNeQuz9t-Gumtmfxncf8xpZxcBrCY2TXS_-Vvshwg/viewform?embedded=true" width="700" height="701" frameborder="20" marginheight="0" marginwidth="0" style="margin-left: 350px; margin-top: 20px;">Request Form </iframe>
</body>
</html>