{% extends 'main.html' %}
        

{% block content %} 
        <div class="box">
            <iframe width="1250" height="1200" src="https://datastudio.google.com/embed/reporting/70071c3a-c777-4518-bebf-a2b1377689d6/page/p_au8rdibdqc" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
{% endblock %}